@import './variables.css';

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 60px 20px;
}
input, textarea {
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: #222;
    color: white;
  }
  
  button {
    padding: 12px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #732d91;
  }

/* Blur efekti için gerekli destek */
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .blur-bg {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

/* Safari için özel düzenleme */
@media not all and (min-resolution:.001dpcm) { 
  @supports (-webkit-appearance:none) {
    .blur-bg {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }
}

